.popup__icon {
    

    width: 32px;
    height: 32px;

    background-image: url(../../../images/__close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 425px) {
    .popup__icon {
        width: 20px;
        height: 20px;
    }
}